extends layout/main/main
block title
  | main
block main
  .wrapper.wide.about#swup(style="background-image: url('assets/img/bg.jpg')")
    .col 
      .col__wrap        
        include includes/header/header
        .col__content
          .col__titlle-wrap.transition-fadeTop
            h1(class="col__title col__title--secondary wow bounceInLeft" data-wow-duration=".7s" data-wow-delay=".5s") Наша миссия:
            h2(class="col__sub-title col__sub-title--secondary wow bounceInLeft" data-wow-duration=".7s" data-wow-delay=".6s") Мы работаем с людьми и для людей. Мы интегрируем простоту, <br> удобство и безопасность!
          .about-desc 
            .col__titlle-wrap.transition-fadeTop
              h1(class="col__title col__title--secondary wow bounceInLeft" data-wow-duration=".7s" data-wow-delay=".5s") Интеграция
              h2(class="col__sub-title col__sub-title--secondary wow bounceInLeft" data-wow-duration=".7s" data-wow-delay=".6s") Достижение синергии за счет <br> интеграции в единой
                | экосистеме
                | торговцев, поставщиков услуг и
                | конечных потребителей на
                | рынке.
            .col__titlle-wrap.transition-fadeTop
              h1(class="col__title col__title--secondary wow bounceInLeft" data-wow-duration=".7s" data-wow-delay=".5s") Все в одном
              h2(class="col__sub-title col__sub-title--secondary wow bounceInLeft" data-wow-duration=".7s" data-wow-delay=".6s") Множество платежных и
                | маркетинговых решений,
                | объединенных для каждого
                | клиента через мобильный интерфейс.

                    

        div(class="bottom wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s")
          .partners.transition-fadeTop
            .partners__slider.partners-js
              mixin partnrer(img ,link)
                .partners__item
                  a(href=link) 
                    img(src=img, alt="")
              +partnrer('assets/img/megacom.png','#')        
              +partnrer('assets/img/beeline.png','#')        
              +partnrer('assets/img/o.png','#')        
              +partnrer('assets/img/megaline.png','#')        
              +partnrer('assets/img/citynet.png','#')        
              +partnrer('assets/img/aknet.png','#')
              +partnrer('assets/img/megacom.png','#')        
   
    .col
      .col__content
        .list.transition-fadeTop
          mixin litsItem(icon,title,transitionDelay)
            div(class="list__item item wow slideInRight" data-wow-duration="0.5s" data-wow-delay=transitionDelay)
              .item__icon
                img(src=icon, alt="")
              .item__desc
                h3.item__title=title
          +litsItem('assets/img/about1.svg','10 лет на рынке.','.5s')
          +litsItem('assets/img/about2.svg','1343214 партнеров.','.6s')
          +litsItem('assets/img/about3.svg','700 услуг.','.7s')
          +litsItem('assets/img/about4.svg','Свыше 1000000 транзакций в месяц.','.8s')
         

  include includes/scripts 
  
    
